*#*#
*.#*
*.iml
*.ipr
*.iws
*.log
*.pyc
*.pyo
*.swp
*~
.DS_Store
.cache
.classpath
.vscode/
.idea/
.idea_modules/
.project
.pydevproject
.python-version
.scala_dependencies
.settings
build/apache-maven*
**/tmp/
build/scala*
build/test
target/
dist/
*.gz
*.tar
*.tgz
logs/
pid/
local/
out/
hs_err_pid*
spark-warehouse/
metastore_db
derby.log
ldap
**/dependency-reduced-pom.xml
